.titleStyle{
    background-color: #FF8F1C; 
    color:white !important;
    margin:0;
    /* padding-bottom:5px;
    padding-top: 5px; */
    font-weight: bold;
    border:3px solid #FF8F1C;
}

.mat-dialog-container, .mat-dialog {
    margin: 0 !important;
    padding: 0 !important;
}

table {
    width: 100%;
}

.tableHeaderCss {
    background-color: grey;   
    color: white;
    font-size: 14px !important;
    height: 40px !important;
    margin: 0px;
    padding:0px;
    letter-spacing: .010em;
    line-height: 1.2em;
	text-align: center;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #E1E3E7;
}

tr.mat-footer-row, tr.mat-row {
    height: 30px !important;   
    font-size: 12px !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    width:200px !important;
    height:30px !important; 
    font-size: 12px !important;
    letter-spacing: .010em;
    line-height: 1.2em;
	text-align: left;
}

.mat-table{
    font-family: Open Sans;
}

ul{
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
    display: flex;
    margin: 1px;
    padding: 5px;
}
li:last-child {
    position: absolute;
    top: 0;
    right: 0;
}

.paginationStyle {
      font-family: Open Sans !important;
      font-size: 14px !important; 
      background-color: #DEDBDB;
}