.overflow1 {
	max-height: 98%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.headerdiv {
	margin-top: 55px;
	text-align: center;
}

.landingpageCssExpand {
	overflow-x: hidden;
	overflow-y: hidden;
	
}

.landingpageCssCollapse {
	margin-left: 7%;
	margin-right: 7%;
	overflow-x: hidden;
	overflow-y: hidden;
	 margin-left: 100px;
	 margin-right: 100px;
}


.textcenter {
	text-align: center;
}

​

.fullscreenDiv {
	background-color: white;
	width: 100%;
	height: auto;
	bottom: 0px;
	top: 0px;
	left: 0;
	position: absolute;
}

.bulletCss {
	width: 5px;
	height: 5px;
	background-color: #0033A0;
	border-radius: 50%;
	text-align: right;
}

ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: #0033A0;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	
}

.textCss {
	color: #0033A0;
	font-size: 3vmax;
	width: 400px;
	margin-top: -25px
}

.textCssSmall {
	color: #0033A0;
	font-size: 1.4vmax;
	width: 400px;
	margin-top: -25px
}

.BlackCss {
	color: black;
	font-size: 1.4vmax;
	width: 400px;
	margin-top: -25px
}

.BlackCssColumn {
	text-align: initial;
	color: black;
	font-size: 1vmax;
	/* width: 400px; */
	/* margin-top: -30pt; */
}


tr td{
  padding: 0 !important;
  
}


.table {
 
}

.heading1 {
	color: #00B140;
	font-size: 3vmax;
}

.heading2 {
	color: #00B140;
	font-size: 1.4vmax;
}

.middleTextExpand {
	color: #00B140;
	font-size: 13pt;
	padding-left: 192px;
}

.middleTextCollapse {
	color: #00B140;
	font-size: 13pt;
	padding-left: 97px;
}

.bottomgreencode {
	color: #00B140;
	font-size: 1.3vmax;
	text-align: center;
	margin-top: 1%;
	/* margin-bottom: 500px; */
	overflow: hidden;
}

sup {
	vertical-align: super;
	font-size: 18px;
}

.BlueColumn1 {
	color: #0033A0;
	font-size: 1vmax;
	 margin-left: 6%;
	/*margin-bottom: 10px; */
}

td:before
{
	width: 65% !important;
	
}

.nav.pull-left li a:focus, .nav.pull-left li a:hover {
  background-color: transparent;
}


.tr{
	 margin:0px !important;
	
   }

.BlueColumn2 {
	color: #0033A0;
	font-size: 1vmax;
	margin-left: 8%;
	/*margin-bottom: 10px; */
}

.column-image {
	position: absolute;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 55%;
	display: flex;
	justify-content: left;
}

.topTxtCss {
	margin-bottom: 5px;
	margin-top: 5px;
	display: inline-flex;
	justify-content: left;
	margin-left: 100px;
}

.shiftright {
	padding-left: 50px;
}


  .table-text {
    color: #00B140;
	text-align: left;
	position: relative;
	font-size: 1.2vmax;
    margin-left: 7%;
  }

  .tableSection{
    margin-left: -2%;
  }
  
  .marginfortableheading
  {
	  margin-left: 10%;
  }
