.headerdiv
{ 
   margin-top: 55px;
  
   text-align: center;
  

}


.landingpageCssExpand{
    overflow-x: hidden;
    overflow-y: hidden;
}

.landingpageCssCollapse{
    margin-left: 100px;
    margin-right: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
}
  .textcenter {
   
    text-align: center;
}​

.fullscreenDiv {
  background-color: white;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}
  

  .bulletCss{
     /* list-style-position: outside; */
    width:5px;
    height:5px;
    background-color:#0033A0 ;
    display: inline-block;
    border-radius: 50%;
    margin-top: -5pt;
    margin-right: 18px;
    vertical-align:top;
    
  }

  .textCss{
    color: #0033A0;
    font-size: 25pt;
    width: 400px;
    margin-top:-25px
  }

  .textCssSmall{
    color: #0033A0;
    font-size: 13pt;
    width: 400px;
    margin-top:-25px
  }

  .BlackCss{
    color: black;
    font-size: 13pt;
    width: 400px;
    margin-top:-25px
  }


  .BlackCssColumn{
    color: black;
    font-size: 10.5pt;
    width: 400px;
    margin-top:-30pt;
  }

  .heading1{
    color: #00B140;
    font-size: 25pt;
  }


  .heading2{
    color: #00B140;
    font-size: 13pt;
  }

  .middleTextExpand{
    color: #00B140;
    font-size: 13pt;
    padding-left: 192px;
  }

  .middleTextCollapse
  {
    color: #00B140;
    font-size: 13pt;
    padding-left: 97px;
  }

  .bottomgreencode{
    color: #00B140;
    font-size: 13pt;
    text-align: center;
    margin-top: 10px;
  }
 
  .BlueColumn1{
    color: #0033A0;
    font-size: 11pt;
    margin-left: 125px;
    margin-bottom: 10px;
  }

    .BlueColumn2{
    color: #0033A0;
    font-size: 11pt;
    margin-left: 240px;
    margin-bottom: 10px;
  }
  
  .column-image {
    position: absolute;
    margin-bottom:0px;
    margin-top:0px;
    margin-left: 510px;
    display:flex;
    justify-content: left;
    top:290px;
    }

    .header-logo{
       color: #00B140;
      text-align: left;
      margin-left: 94px;
    }

    .topTxtCss{
    margin-bottom:5px;
    margin-top:5px;
    display:inline-flex;
    justify-content: left;
    margin-left: 100px;
  }

  .shiftright
  {
    padding-left :50px;
  }
  