

.mat-cell{
    font-size: 1.1vmax !important;
    height: 3.5vmax;
}
 

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
 }

.mainText{
    font-size: 1.1vmax;
    color:  #00b140;
    font-weight:bold;
    vertical-align: sub;
    width: 17%;
}

.mat-button{
    font-size: 16px;
    font-weight: 500;
    min-width: 50px;
}
.btnAlign{
    margin-right: 7px; 
    float: right;
}

.accessGroupbutton{
  min-height: 38px !important;
  min-width: 138px !important;
  font-size: 17px !important;
  border-radius: 0px !important;
  text-transform: initial !important;
  color: white !important;
  background-color: #5C068C !important;
  padding-left: 10px;
}

.filterGroupCSS{
   float: right;
   width: 30%
}
.mat-flat-button{
    margin-left: 5px;
}

mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #5c068c !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    background-color: #5c068c !important;
}

th[_ngcontent-c15]:last-child{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.dialogheader{    
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 50px; 
    padding-left: 15px
}
.accessgroupCss{
    height: 55px;
    width: 50%;
}
.dialogText{
    font-size: 1.1vmax;
    color:  #00b140;
    font-weight:bold;
    vertical-align: middle;
    /* width: 20%; */
    padding-left: inherit;
}

.mat-dialog-actions-button{
    float: right;
    padding-right: 25px;
}

.warningText{
    color: #FF8F1C;
}

.contentBodyCss{
    padding-left:50px ;
    padding-right: 20px;
}

.textPaddingInfo
{
  padding-left:50px ;
  height: 35%;
  font-size: 1vmax !important;
}


@media screen and (max-width : 1366px) and (min-width: 600px)
{

    .form-control {
    padding: 6px 12px;
    font-size: 13px;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
    margin-bottom: 5px;
}

    .form-controlAdd{
    
    padding: 6px 12px;
    font-size: 13px;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: -20px;
    width: 40%;
    height: 50%;

}

.input-disabled{
    color: rgba(0,0,0,.38);
    background-color:#e1e3e7;
    padding: 6px 12px;
    font-size: 13px;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
}

.mat-dialog-actions-buttonAdd{
        padding-top: 7vh !important;
        padding-left: 460px !important;
        
    }

    .closeIconCss
    {
        width: 10px;
        height: 10px;
        color:white;
        margin:0px;
        padding: 0px 10px;
    }

    .form-controlBox{
    padding: 6px 12px;
    color: rgba(0,0,0,.38);
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
    

}
}
@media screen and (max-width: 1920px) and (min-width: 1380px)
{
      .closeIconCss
    {
        width: 50px;
        height: 50px;
        color:white;
        margin-left: 310px;
        
    }
    .mat-dialog-actions-buttonAdd{
        padding-top: 13vh !important;
        padding-left: 740px !important;
        
    }
    .input-disabled{
    color: rgba(0,0,0,.38);
    background-color:#e1e3e7;
    padding: 6px 12px;
    /* font-size: 1.2vmax !important; */
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
}

.form-control {
    padding: 6px 12px;
    color: rgba(0,0,0,.38);
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
    
}
.form-controlAdd{
    
    padding: 6px 12px;
    font-size: 1vmax;
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 20px;
    margin-bottom: 5px;
   /*  margin-top: -20px; */
    width: 50%;
    height: 50%;

}

.form-controlBox{
    padding: 6px 12px;
    color: rgba(0,0,0,.38);
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-left: 5px;
    height: 20px !important;

}

}



