<div class="container">
  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-toolbar class="toolbar">
      <span class="fill-remaining-space"></span>
      <img height="20px" width="380px" align="right" src='../../icons/svg/homePage/icon_insights_branding_powered_by.svg' 
          alt="Powered By Cognizant OneDevOps | Insights" style="margin:auto;display:block" />
    </mat-toolbar>
    <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
      <mat-list-item>
        <button mat-icon-button (click)="isExpanded = !isExpanded">
          <!--<mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
          <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>-->
          <mat-icon  class="mat-icon material-icons">menu</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <img mat-card-image *ngIf="isExpanded" height="40px" width="100px" src='/icons/svg/homePage/Cognizant_Logo_Reversed.svg'
          style="margin:auto;display:block" />
        <img mat-card-image *ngIf="!isExpanded" height="40px" width="38px" src='../../icons/svg/homePage/Insights_Fevicon.svg' 
           style="margin:auto;display:block"/>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <div mat-line *ngIf="isExpanded">
          Welcome {{userName}}
          <br> Role :{{userRole}}
        </div>

        <mat-divider></mat-divider>
        <div *ngFor="let item of navItems">
          <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
            <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
            <p matLine *ngIf="isExpanded">{{item.displayName}}</p>
            <span fxFlex *ngIf="item.children && item.children.length">
              <span fxFlex></span>
            <mat-icon *ngIf="isExpanded" [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
              expand_more
            </mat-icon>
            </span>
          </a>
          <div *ngIf="expanded && isExpanded">
            <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1" [isExpanded]="isExpanded">
            </app-menu-list-item>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>