.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #404040;
}

 .sidenav-container {
  flex: 1;
  color: #404040;
}

.sidenav{
  color: white;
}

.mat-list-item{
  color: white;
  opacity: 0.8;
  font-size: 16px;
  
}

.mat-nav-list{
  color: white;
  opacity: 0.8;
  font-size: 16px;
}

.mat-line{
  color: white;
  opacity: 0.8;
  padding: 10px;
  font-weight:bold; 
  font-size: 16px;
  font-family: Tahoma;
}

.mat-list-text{
  font-weight:bold; 
  font-size: 16px;
  font-family: Tahoma;
}


.mat-drawer{
  opacity: 0.9;
  background:#404040;
}

.mat-toolbar {
  opacity: 0.9;
  background: #18191b;
  color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
}
.mat-card-image{
 width:100%
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  opacity: 0.9;
}

.toolbar {
    z-index: 1;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: right;
}

.routeIcon {
    margin-right: 4px;
}

.mat-sidenav-content{
  width:100%;
}


#bottomnavg {
   display: flex;
   flex-direction: column;
    position: absolute;
    bottom: 0;
}
