:host ::ng-deep {
  display: block;
  font-size: 16px;
  font-weight:400;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #393838;
}

.sidenav-container {
  flex: 1;
  color: #393838;
}

.sidenav{
  color: white;
}

.white-icon {
  fill: green;
  fill: white;
}

.mat-list-item {
  color: white;
  opacity: 0.8;
  font-size: 16px;
  height: 30px !important;
  font-family: inherit;
}

.mat-nav-list{
  color: white;
  opacity: 0.8;
  font-size: 16px;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  font-family:inherit;
  height: 30px !important;

}



.mat-list-item-ripple{
  height: 30px
}

.mat-list-item.active {
  font-size: 17px !important;
  font-weight:bolder !important;
  color:white !important;
  background-color: #0033A0;
  font-family: inherit;
}

.mat-line.active{
  color: white !important;
  font-weight:900 !important;
  font-size: 17px !important;
  opacity: 1.0 !important;
  filter: brightness(100%),contrast(100%) !important;
  background-color: #0033A0;
  font-family: inherit;
  
}

.material-icons-menu {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

.mat-line{
  color: #bfbfbf !important;
  opacity: 0.8;
  padding: 2px !important;
  font-size: 16px !important;
  font-family: inherit;
}

.mat-line-heading{
  color: #bfbfbf !important;
  opacity: 0.8;
  padding-top: 0px !important;
  padding-right: 5px !important;
  padding-bottom: 0px !important;
  padding-left: 5px !important;
  margin-bottom: 15px!important;
  margin-top :15px !important;
  font-size: 16px;
  height: 30px !important;
  
}

.roleName{
  color: white !important;
  font-size: 18px!important;
  font-weight: bold;
}

.mat-list-text{
  font-weight:500; 
  font-size: 16px;
  font-family: inherit;
}

.mat-list-item-content{
 height: 30px !important; 
 font-family: inherit;
}

.mat-line-child{
  color: #f7f3f3 !important;
  opacity: 0.8;
  padding: 2px !important;
}

.mat-drawer{
  background:#393838;
  overflow-x: hidden;
  /*bottom: -150px;*/
}

.mat-drawer-content,mat-sidenav-content {
    z-index: 1;
    height: 100%;
    background-color: #dedbdb;
}

.webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.mat-toolbar {
  opacity: 0.9;
  background: #18191b;
  color: white;
  padding-right: 25px;
  height:55px !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
}

.mat-card-image,.mat-card-image:first-child{
 align-items: center;
 width: auto;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #393838;
  opacity: 0.9;
}

.toolbar {
    z-index: 1;
}

.mat-icon{
  align-items: flex-end;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: right;
}

.routeIcon {
  margin-right: 4px;
}

.active-class { 
  color: red; 
}



.navtable{
  table-layout: auto;
  width: 100%;
}



::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #676666;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

.routeroutlet{
  margin-right: 16px !important;
  margin-left: 16px !important;
}

@media screen and (max-width : 1366px) and (min-width: 600px)
{
  .logoSetting{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 2px;
    height: 10%;
  }

  .headingPage{
    margin-left: 16px;
    margin-right: 16px;
    height: 10%;
  }

  .bottomnavg {
    flex-direction: column !important;
    bottom: 0 !important;
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 16px; 
    margin-left: 16px;
    height:15%;
  }

  .menu{
    width: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 58%;
  }

  .mat-divider{
    border-top-color: white;
    margin-top:5px; 
    height: 1%
  }
}

@media screen and (max-width: 1920px) and (min-width: 1466px)
{
  .logoSetting{
    margin-left: 30px;
    margin-right: 26px;
    margin-top: 2px;
    height: 8%;
  }

  .headingPage{
    margin-left: 16px;
    margin-right: 16px;
    height: 7%;
  }

  .bottomnavg {
    flex-direction: column !important;
    bottom: 0 !important;
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 16px; 
    margin-left: 16px;
    height:15%;
  }

  .menu{
    width: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    height: 68%;
  }

  .mat-divider{
    border-top-color: white;
    margin-top:5px; 
    height: 1%
  }
}
.feviconIcon{
  margin:auto;
  display:block;
  align-items: center;
}

.mat-list-item-content{
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
}
