:host ::ng-deep {
  display: block;
  font-size: 15px;
  font-family: Open Sans,Tahoma;
  font-weight:400;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #404040;
}

.sidenav-container {
  flex: 1;
  color: #404040;
}

.sidenav{
  color: white;
  /*height:100%;*/
}

.mat-list-item {
  color: white;
  opacity: 0.8;
  font-size: 15px;
  font-family: Open Sans,Tahoma;
  height: 30px !important
}

.mat-nav-list{
  color: white;
  opacity: 0.8;
  font-size: 15px;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  font-family: Open Sans,Tahoma;
  height: 30px !important;

}

.mat-divider{
  border-top-color: white
}

.mat-list-item-ripple{
  height: 30px
}

.mat-list-item.active {
  font-size: 16px !important;
  font-weight:bolder !important;
  color:white !important;
}

.mat-line.active{
  color: white !important;
  font-weight:900 !important;
  font-size: 18px !important;
  opacity: 1.0 !important;
  filter: brightness(100%),contrast(100%) !important;
  
}

.mat-line{
  color: #f7f3f3 !important;
  opacity: 0.8;
  padding: 2px !important;
  font-size: 15px !important;
  font-family: Open Sans,Tahoma !important;
}

.mat-line-heading{
  color: #f7f3f3 !important;
  opacity: 0.8;
  padding: 5px !important;
  font-size: 15px;
  font-family: Open Sans,Tahoma;
  height: 30px !important;
}

.mat-list-text{
  font-weight:500; 
  font-size: 15px;
  font-family: Open Sans,Tahoma !important;
  
}

.mat-list-item-content{
 height: 30px !important; 
}

.mat-line-child{
  color: #f7f3f3 !important;
  opacity: 0.8;
  padding: 2px !important;
  font-family: Open Sans,Tahoma !important;
}

.mat-drawer{
  opacity: 0.9;
  background:#404040;
  /*overflow-y: auto !important;
  overflow-x: auto !important;*/
  max-width: 20%;
  min-width: 4%;
}

.mat-drawer-content,mat-sidenav-content {
    z-index: 1;
    display: block;
    height: 100%;
    /*overflow-y: auto !important;
    overflow-x: hidden !important;*/
}

/*.app-menu-list-item{
  overflow: auto !important;
}*/

.webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.mat-toolbar {
  opacity: 0.9;
  background: #18191b;
  color: white;
  padding-right: 5px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 40px;
}

.mat-card-image,.mat-card-image:first-child{
 align-items: center;
 width:auto;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  opacity: 0.9;
}

.toolbar {
    z-index: 1;
}

.mat-icon{
  align-items: flex-end;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  text-align: right;
}

.routeIcon {
  margin-right: 4px;
}

.active-class { 
  color: red; 
}

.bottomnavg {
  flex-direction: column !important;
  bottom: 0 !important;
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 60px;
}

.navtable{
  table-layout: auto;
  width: 100%;
  /*overflow-x: auto !important;
  overflow-y: auto !important;*/
}

.menu{
    /*overflow-x: auto !important;
    overflow-y: auto !important;
    height: auto;
    */
    
    width: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #cab7b7;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}