.display-tree-invisible {
    display: none;
  }
  
.disable-list-style ul,
.disable-list-style li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.linkTxt {  
  cursor: pointer;
}
