table {
    width: 100%;  
    border: 1px solid #00B140;
    border-radius: 10px 10px 10px 10px;
    font-family: Open Sans;
    font-size: 14px;
    text-align: left;
    vertical-align: center;
}

.tableHeaderCss {
    background-color: #00B140;   
    color: white;
    font-family: Open Sans !important;
    font-size: 14px;
    height: 40px;
    margin: 0px;
    padding:0px;
    text-align: left;
    vertical-align: center;
}

th:first-child { border-radius: 10px 0 0 0; }
th:last-child { border-radius: 0 10px 0 0; }

tr:last-child td:first-child { border-radius: 0 0 0 10px; }
tr:last-child td:last-child { border-radius: 0 0 10px 0; }

tr:nth-child(odd) td {
  background-color: #ffffff;
}

tr:nth-child(even) td {
  background-color: #E1E3E7;
}

.mat-table {
    font-family: Open Sans !important;    
    font-size: 14px;
    text-align: left;
    vertical-align: center;
}
.tableContainerStyle {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr.mat-footer-row, tr.mat-row {
    height: 40px !important;
    font-size: 14px;
    text-align: left !important;
    vertical-align: center;
}


.sectionHeadingStyle {
    background-color: #0033A0;   
    color: white;
    font-family: Open Sans !important;
    font-size: 16px;
    margin-left:16px;
    margin-right:16px;
    margin-top:20px;    
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #0033A0;
    border-radius: 10px 10px 10px 10px;   
    vertical-align:center;
}

.titleStyle {
    margin-left:16px;
    margin-top:25px;
    color: #0033A0;
    font-family: Open Sans !important;
    font-size: 20px;
    padding-bottom: 10px;    
    vertical-align: center;
}

.backToTopButtonStyle {    
    color: #FF8F1C;
    background-color: white !important;
    font-family: Open Sans !important;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #FF8F1C;
    border-radius: 10px 10px 10px 10px; 
}
.rightAlignStyle {
    text-align: right;
    padding-right: 16px; 
}

.orangeStripCss {
    background-color: #FF8F1C;
    width: 100% !important;
    height: 2px;
    margin-left:16px;
    margin-right:16px;
    padding-right:16px;
}

.mat-dialog-container, .mat-dialog {
    margin: 0 !important;
    padding: 0 !important;
}

.linkTxt {
    /* text-decoration: underline; */
    cursor: pointer;
}
/* 
.mat-ink-bar{
    background-color:#00B140; 
} */
.mat-tab-label, .mat-tab-label-content {
     /* color: #00B140 !important; */
     font-family: Open Sans !important;
     font-size: 17px;
 } 
 
 /* Styles for tab labels */
  .mat-tab-label {
     /* min-width: 25px !important;
     padding: 5px; */
     background-color: transparent;
     color: #0033A0;     
     font-family: Open Sans !important;
     font-size: 18px;
 }
 
 /* Styles for the active tab label */
   .mat-tab-label-active {
    color: #00B140;
    font-weight:bold;
    font-family: Open Sans !important;
    font-size: 18px;
    text-decoration: underline;
    background-color: transparent;
 }
 
 /* Styles for the ink bar */
 /* .mat-ink-bar {
     background-color: transparent;
 }  */