table {
    width: 100%;
}

.tableHeaderCss {
    background-color: grey;   
    color: white;
    font-size: 14px !important;
    height: 40px !important;
    margin: 0px;
    padding:0px;
    letter-spacing: .010em;
    line-height: 1.2em;
	text-align: center;
}
.tableFooterCss {
    color: orange;
}

tr:nth-child(odd) td {
    background-color: #ffffff;
}

tr:nth-child(even) td {
    background-color: #E1E3E7;
}

tr.mat-footer-row, tr.mat-row {
    height: 30px !important;   
    font-size: 12px !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    width:200px !important;
    height:30px !important; 
    font-size: 12px !important;
    letter-spacing: .010em;
    line-height: 1.2em;
	text-align: left;
}
.mat-dialog-container, .mat-dialog {
    margin: 0 !important;
    padding: 0 !important;
}

.titleStyle{
    background-color: orange; 
    color:white;
    margin:0;
    padding-bottom:10px;
    text-align: center;
    font-weight: bold;
}

    
