.heading{
    color: #0033A0;
    font-size: 26px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pageCss{
    margin-left: 16px;
    margin-right: 16px;
}

.orangeStripCss {
    background-color: #FF8F1C;
    margin-left: 16px;
    margin-right: 16px;
    width: 100% !important;
    height: 1px;
    margin: 0 auto;
}

.tableHeaderCss {
    background-color: #00B140;   
    color: white;
    font-size: 15px;
    height: 40px;
    margin: 0px;
    padding:0px;
}

.sectionHeadingStyle {
    background-color: #0033A0;   
    color: white;
    font-size: 16px;
    margin-top:16px; 
    height: 30px;
    border: 1px solid #0033A0;
    border-radius: 10px 10px 10px 10px;   
    vertical-align:center;
    padding-top: 8px;
    padding-bottom: 3px;
    margin-bottom: 16px;
}

.sectionSubHeading{
    font-size: 13px;
}

tr.mat-footer-row, tr.mat-row{
    height: 40px !important;
    text-align: left !important;
    vertical-align: middle;
}

.mat-row:nth-child(even){
    background-color:#e1e3e7;
}

.mat-row:nth-child(odd){
    background-color:#FFFFFF;
}

.mat-table,mat-row,mat-cell,mat-footer-cell,mat-header-cell,mat-list-item,mat-line,
mat-tab-group,mat-tab-label,mat-tab-link,mat-tab-label-content,mat-select,mat-radio-button{
    font-family: inherit;
    font-size: 18px;
}

table {
    width: 100%;  
    border: 1px solid #00B140;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}

th:first-child { border-radius: 10px 0 0 0; }
th:last-child { border-radius: 0 10px 0 0; }

tr:last-child td:first-child { border-radius: 0 0 0 10px; }
tr:last-child td:last-child { border-radius: 0 0 10px 0; }

.rightAlignStyle {
    text-align: right;
    padding-right: 16px; 
}

mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #5c068c !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    background-color: #5c068c !important;
}

.mat-dialog-title {
    margin: 0 0 10px;
    display: block;
    text-align: center;
    color: #00B140;
    font-family: inherit;
}

.mat-button-dialog {
    font-family: inherit !important;
    font-size: 15px;
    font-weight: 500;
    background-color: yellowgreen;
    min-width: 50px;
}

.mat-dialog-content{
    margin-top: 10px
}

.mat-dialog-actions{
    float: center;
}

.mat-icon-button{
    color: #0033A0
}

.messageText{
    font-size: 16px;
    color: #5C068C;
    margin-top: 28px;
    padding-left: 20px;
}

