.mainDivContainer{
    height:90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.greenWord{
    color:#00B140 !important;
}
.mainBlock1{
    height:25vh;
    width:80vh;
    margin-left:20px;
    border-radius:10px;
    background-color:white;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 15px;
    margin-top: 10px;
}

.matInput,input
{
    font-size: 1.4vmax !important;
}
.subBlock1{
    height:25%;
    border-radius:10px 10px 0 0;
    background-color:#00B140;
    padding-top: 1vh;
    padding-left: 10px;
    color:white;
    font-size: 1.1vmax;
}
.mainBlock2{
    height:19vh;
    width:45vh;
    display: inline-block;
    margin-left:20px;
    vertical-align: top;
    border-radius:10px;
    background-color:white;
    padding-bottom: 5px;
    margin-top: 10px;
}
.subBlock2{
    max-height:5vh;
    border-radius:10px 10px 0 0;
    background-color:#00B140;
    padding: 6px;
    padding-left: 10px;
    color:white;
    font-size: 1vmax;
}
.subBlock3{
    height:57px;
    width:250px;
    border-radius:10px;
    margin-left: 1.1vh;
    margin-top: 3vh;
}
.liGenearl{
    color:black !important;
    font-size: 1.1vmax;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.material-icons{
    font-size: 3vmax !important;

}
.mat-icon{
    width: 50% !important;
line-height: 105% !important;

}

::-webkit-scrollbar-thumb {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #676666;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
} 

.arrange-horizontally {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
}

.pageCss_logo{
    margin-left: 16px;
    margin-right: 16px;
}