.md-title{
    font-weight:bold;
}
.mat-card {
    position: relative;
    padding:1px;
}


.mat-card-content>:first-child, .mat-card>:first-child {
    margin-top: 0;
}

.iframe {
     overflow-y:auto !important;
     overflow-x: hidden !important
}

.iframeStyle{
    height: 100%;
    width: 100%;
}