/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { 
  font-family: Open Sans;
  margin: 0;
}

.basic-container {
  padding: 5px;
}



