/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body { 
   font-family: Open Sans, Tahoma, San Serif, Helvitica; 
   background-color: #f0f0f0
}

.basic-container {
  padding: 5px;
}

/* .mat-dialog-container
{
  padding: 24px; 
    border-radius: 25px !important ;
    box-sizing: border-box;
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background: #fff;
    color: rgba(0,0,0,.87);
} */


.healthcheck-show-details-dialog-container .mat-dialog-container {
  padding: 0px !important;
  margin: 0px !important;
}

.head_class{
  background-color: #f0f0f0
}





.DialogBox  .mat-dialog-container{
      
    border-radius: 10px !important ;
   /*  box-sizing: border-box; */
    overflow: hidden;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
    background: #fff;
    padding: 0px;
    color: rgba(0,0,0,.87);

}



