<div class="pageCss">

  <div layout layout-align="left" class="titleStyle">
    <div>Data Dictionary 
    </div>
  </div>

  <div class="orangeStripCss"></div>
  <div style="width:90%;padding-top: 20px;padding-left: 10px">
      <label class="mainText"> Select Tools </label>
    <mat-select [(ngModel)]="selectedAgent1"  [style.height.px]="20" [style.width.%]="20" (ngModelChange)="loadAgent1Info(selectedAgent1)"
      name="selectedAgent1" required placeholder="Please Select Tool1" [ngClass]="{  'input-disabled' : readChange ,  'form-control': !readChange}">
      <mat-option [disabled]="data1 === selectedAgent2" *ngFor="let data1 of agentDataSource" [value]="data1">
        {{data1.toolName}}
      </mat-option>
      </mat-select>
    <mat-select [(ngModel)]="selectedAgent2"  [style.height.px]="20" [style.width.%]="20" (ngModelChange)="loadAgent1Info2(selectedAgent2)"
      name="selectedAgent2" required placeholder="Please Select Tool2" [ngClass]="{  'input-disabled' : readChange2 ,  'form-control': !readChange2}">
      <mat-option [disabled]="data2 === selectedAgent1" *ngFor="let data2 of agentDataSource" [value]="data2">
        {{data2.toolName}}
      </mat-option>
    </mat-select>
    <div class="divider"></div>
    <button [disabled]="(!selectedAgent1 || !selectedAgent2) " class="searchBtnStyle" (click)="getCorrelation(selectedAgent1,selectedAgent2)">Click To Show Correlation </button>
    <h2 style="font-size:13px;display: inline-block;padding-left: 5px;color: #FF8F1C">Please select Tool1 and Tool2 To See The Correlation</h2>
  </div>
  <div style="padding-left:10px">
    <div layout layout-align="left" class="showTable" style="width:65%">
      &nbsp; Tool Properties
    </div>
    <div  class="showTable" style="width:30%;margin-left:20px;" >
      &nbsp; Correlation Details
    </div>
    <div  class="propTable">
      <table *ngIf="showDetail" style="width:32.5%;display: inline-block;height: 360px;overflow-y:auto;">
        <thead>
          <tr class="mat-header-row" layout-align="start start">
            <th colspan="3" >
              <span class="mainHeaderText"><a style="color:#0033A0;padding: 0px 0px 0px 10px ;">{{agent1Tool}} Properties</a> Label Information:(<span>{{agent1Category}}</span>:<span>{{agent1Tool}}</span>)</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row" *ngFor="let element of agent1TableData">
            <td class="mat-cell" style="width:30%;padding: 0px 0px 0px 10px ;text-align:left;">
              <span>{{element}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="noShowDetail" style="width:32.5%;display: inline-block;height: 360px;overflow-y:auto;">
          <tbody>
              <tr class="mat-header-row">
                <td class="mat-cell" style="width:30%;text-align:center;">
                  <span>No Properties Found for table {{agent1Tool}}</span>
                </td>
              </tr>
            </tbody>
      </table>
    <table *ngIf="showDetail2" style="width:32.5%;display: inline-block;height: 360px;overflow-y:auto;">
        <thead>
          <tr class="mat-header-row" layout-align="start start">
            <th colspan="3" >
                <span class="mainHeaderText"><a style="color:#0033A0;padding: 0px 0px 0px 10px ;">{{agent2Tool}} Properties</a> Label Information:(<span>{{agent2Category}}</span>:<span>{{agent2Tool}}</span>)</span>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr class="mat-row" *ngFor="let element of agent2TableData">
            <td class="mat-cell" style="width:65%;padding: 0px 0px 0px 10px;text-align:left ;">
              <span >{{element}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <table *ngIf="noShowDetail2" style="width:32.5%;display: inline-block;height: 360px;overflow-y:auto;">
          <tbody>
              <tr class="mat-header-row">
                <td class="mat-cell" style="width:30%;text-align:center;">
                  <span>No Properties Found for table {{agent2Tool}}</span>
                </td>
              </tr>
            </tbody>
      </table>
      <table *ngIf="showDetail3" style="width:25%;display: inline-block;margin-left:20px;height: 360px;overflow-y:auto;">
            <span class="mainHeaderText"><a style="color:#0033A0;padding: 0px 0px 0px 10px ;">Relationship Name:</a><span>{{corrprop}}</span> </span>
            <thead >
              <tr class="mat-header-row"  layout-align="start start">
                <th style="width:30%;padding: 0px 0px 0px 10px ;text-align:left;">
                  <span >Property Name</span>
                </th>
                <th style="width:30%;padding: 0px 0px 0px 10px ;text-align:left;">
                    <span>Property Value</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let element of corrData | keyvalue">
                <td class="mat-cell" style="width:30%;padding: 0px 0px 0px 10px ;text-align:left;">
                  <span>{{element.key}}</span>
                </td>
                <td class="mat-cell" style="width:30%;padding: 0px 0px 0px 10px ;text-align:left;">
                    <span>{{element.value}}</span>
                </td>
              </tr>
            </tbody>
        </table>
        <table *ngIf="noShowDetailCorr" style="width:25%;display: inline-block;height: 360px;margin-left:20px;overflow-y:auto;">
            <tbody>
                <tr class="mat-header-row">
                  <td class="mat-cell" style="width:30%;text-align:center;">
                    <span>No Correlations found between the selected tools</span>
                  </td>
                </tr>
              </tbody>
        </table>
      </div>

  </div>
</div>