table {
    width: 100%;  
    border: 1px solid #00B140;
    border-radius: 10px 10px 10px 10px;
    font-family: Open Sans,Tahoma;
    margin-bottom: 4px;
}

.tableHeaderCss {
    background-color: #00B140;   
    color: white;
    font-family: Open Sans,Tahoma !important;
    font-size: 15px;
    height: 30px;
    margin: 0px;
    padding:0px;
}

th:first-child { border-radius: 10px 0 0 0; }
th:last-child { border-radius: 0 10px 0 0; }

tr:last-child td:first-child { border-radius: 0 0 0 10px; }
tr:last-child td:last-child { border-radius: 0 0 10px 0; }

.mat-table {
    font-family: Open Sans,Tahoma !important;    
}
.tableContainerStyle {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

tr.mat-footer-row, tr.mat-row {
    height: 30px !important;
    text-align: left !important;
}
.mat-button{
    font-family: Open Sans,Tahoma !important;
    font-size: 15px;
    font-weight: 500;
    min-width: 50px;
}

.tableDiv{
    padding-left: 20px;
    padding-right: 20px;
}

.btnAlign{
    font-family: Open Sans !important;
    margin-right: 7px; 
    float: right;
}

.heading{
    color:lightblue;
    font-family:Open Sans,Tahoma !important;
    font-size:16px;
    padding-left: 10px;
    align-content: center;
}

.mat-icon-message{
    color: #ff4c4c;
    height: 15px;
     width: 15px;
}

.confirmation-message{
    color: #ff4c4c;
    text-align: center;
    font-size: 20px;
    padding-left: 25px;
}

.form-control {
    display: block;
    width: 100%;
    /*height: 25px;*/
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;*/
    margin-left: 10px;
}

.arrange-horizontally {
   /* display:table !important;
    text-align: center !important;*/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    background-color: #f0f0f0;
}

.button-row{
    margin-bottom: 10px;
    /*background-color: lightskyblue;
    border-bottom: 1px solid #d8d8d8;*/
    margin-top: 21px;
}

.form{
    box-sizing: border-box;
}

.configureBut {
    min-width: 150px;
    font-size: 15px;
    font-family: Open Sans,Tahoma !important;
    border-radius: 0px;
    text-transform: initial;
    color: white;
    background-color: #00728f;
    padding-right: 20px;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #cab7b7;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}



.dataHead {
    font-family: proxima_novasemibold !important;
    font-size: 14px !important;
    color: black !important;
    font-weight: 600
}

.theadCss {
    font-family: proxima_novasemibold !important;
    font-size: 16px !important;
    background-color:  #00B140 !important;
}

.tableHeader {
    padding-top: 18px;
    padding-bottom: 18px;
}

.tableHeadingStyle {
    font-family: proxima_novabold;
    font-size: 16px;   
    color: black;
}

.agentlistLabel {
    vertical-align: middle !important;
    text-transform: capitalize;
    width: 25% !important;
}

.inputBoxCont {
    border: 1px !important;
    border-style: solid !important;
    border-color: black !important;
    border-bottom-color: black !important;
    background-color: white !important;
    text-align: left !important;
    height: 28px !important;
    box-sizing: initial !important;
    max-width: 100%;
}

.frmTxtarea {
    width: 100%;
    height: 200px;
}

.layout-row > .flex-30 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    max-width: 30%;
    max-height: 100%;
    box-sizing: border-box;
}

.tbody tr {
    height: 60px;
    width: 100%;
    background-color: white !important;
    margin-bottom: 5px !important;
}

.agentConfigTable{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    margin-left: 10px;
    margin-right: 10px
}


.others{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    margin-left: 10px;
    margin-right: 10px
}




